@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  -webkit-print-color-adjust: exact;
}
/* box shake */
.btn-shake:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
/* ================================ */
.ant-message{
  z-index: 2059 !important;
}
.ant-modal-root .ant-modal-wrap {
  z-index: 2056;
}
.ant-modal-mask {
  z-index: 2056 !important;
}
.ant-calendar-picker-container, .ant-time-picker-panel{
  z-index: 2058 !important;
}
 
.ant-select-dropdown {
  z-index: 2057 !important;
}
.ant-select-dropdown li{
  font-size: 11px !important;
}

.ant-popover {
  z-index: 1052 !important;
}

#components-table-demo-resizable-column .react-resizable {
  position: relative;
  background-clip: padding-box;
  background: #0090da;
}

#components-table-demo-resizable-column .react-resizable-handle {
  position: absolute;
  right: -5px;
  bottom: 0;
  z-index: 1;
  width: 2px;
  border-left: 1px solid #cacaca;
  height: 100%;
  cursor: col-resize;
}
.ant-table-placeholder{
  display:none;
}


input , textarea, .ant-select-selection-selected-value {
  color: #000 !important;
}